.main {
    margin: 200px auto;
    text-align: center;
    border: 10px solid rgb(247, 0, 0);
    height: 300px;
    width: 600px;
    border-radius: 30px;
    background-color: #eba3a3;
}

.title {
    margin: 20px auto;
    color: white;
    font-size: 18px;
}

.upfile {
    width: 150px;
    align-self: center;
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
}

.upform select {
    padding: 5px;
    border: none;
    margin: 0 10px;
    border-radius: 10px;
    text-align: center;
    text-align-last: center;
    cursor: pointer;
}

.filesub {
    background-color: rgb(8, 185, 255);
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    line-height: 18px;
    font-size: 18px;
    color: white;
}